{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<br><br><br>

<div class="container">
    <form id="search">
      <h1>Search for an application or keyword:</h1>
      <input type="text" name="search" class="fill"></input>
    </form>
</div>
<div class="container email">
  <p class="lead">Enter your email address to recive updates:</p>
  <form id="email"><input type="text" name="email" class="fill"></input></form>
</div>


<div class="container">
  <div class="row"><b>
    <div class="col-md-4">Application #</div>
    <div class="col-md-4">Category</div>
    <div class="col-md-4">Status</div>
  </b></div>
  <div class="row">
    <a target="_blank" href="http://pericles.ipaustralia.gov.au/ols/auspat/applicationDetails.do?applicationNo=2004321298">
      <div class="col-md-4">#2004321298</div>
      <div class="col-md-4">Mixed Technology</div>
      <div class="col-md-4">Lapsed</div>
    </a>
  </div>
  <div class="row">
    <a target="_blank" href="http://pericles.ipaustralia.gov.au/ols/auspat/applicationDetails.do?applicationNo=2016203807">
      <div class="col-md-4 col-lg-4 col-sm-4">#2016203807</div>
      <div class="col-md-4 col-lg-4 col-sm-4">Applied Chemistry</div>
      <div class="col-md-4 col-lg-4 col-sm-4">Accepted</div>
    </a>
  </div>
  <div class="row">
    <a target="_blank" href="http://pericles.ipaustralia.gov.au/ols/auspat/applicationDetails.do?applicationNo=2004321145">
      <div class="col-md-4">#2004321145</div>
      <div class="col-md-4">Construction and Mining</div>
      <div class="col-md-4">Ceased</div>
    </a>
  </div>
</div>



{% endblock %}
