{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<br>
<form action="/" method="post">
  <h2>Search Patent Applications</h2>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<br>
<h2>Results</h2>

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Application #</th>
          <th>Category</th>
          <th>Status</th>
          <th>Add?</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td><a class="btn btn-primary" target="_blank" href="http://pericles.ipaustralia.gov.au/ols/auspat/applicationDetails.do?applicationNo={{ result.0 }}">{{ result.0 }}</a></td>
          <td>{{ result.2 }}</td>
          <td>{{ result.1 }} </td>
          <td><a href="#" class="btn btn-primary">[ ]</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if result %}
    <div><a href="#" class="btn btn-primary">➕ Subscribe to all</a></div>
  {% endif %}

{% endblock %}
