{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<br>
<form action="/" method="post">
  <h2>Search Patent Applications</h2>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<br>
<h2>Results</h2>

{% for result in results %}
	<b>{{ result.0 }}</b><br>
	<li>{{ result.1 }}</li><p>
{% endfor %}

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Application #</th>
          <th>Category</th>
          <th>Status</th>
          <th>Add?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a class="btn btn-primary" target="_blank" href="http://pericles.ipaustralia.gov.au/ols/auspat/applicationDetails.do?applicationNo=2004321298">2004321298</a></td>
          <td>Mixed Technology</td>
          <td>Lapsed</td>
          <td><a href="#" class="btn btn-primary">[ ]</a></td>
        </tr>
          <td><a class="btn btn-primary" target="_blank" href="http://pericles.ipaustralia.gov.au/ols/auspat/applicationDetails.do?applicationNo=2016203807">2016203807</a></td>
          <td>Applied Chemistry</td>
          <td>Accepted</td>
          <td><a href="#" class="btn btn-primary">[ ]</a></td>
        </tr>
        <tr>
          <td><a class="btn btn-primary" target="_blank" href="http://pericles.ipaustralia.gov.au/ols/auspat/applicationDetails.do?applicationNo=2004321145">2004321145</a></td>
          <td>Construction and Mining</td>
          <td>Ceased</td>
          <td><a href="#" class="btn btn-primary">[ ]</a></td>
        </tr>
      </tbody>
    </table>
  </div>


{% endblock %}
