{% extends "baselevel2.html" %}
{% load staticfiles %}

{% block content %}

<h2>About the Team</h2>

<div class="padd-small">
  <table>
    <tr>
      <td class="padd">
        <h2>Trent Torkar</h2>
        <img src="../static/trent.jpg" width=100px></img>
        <h5>Virtuoso of Video</h5>
      </td>
      <td>
        <h2>Riley Baird</h2>
        <img src="../static/riley.jpg" width=100px></img>
        <h5>Sultan of Search</h5>
      </td>
    </tr>
    <tr>
      <td>
        <h2>Ben Minerds</h2>
        <img src="../static/ben.jpg" width=100px></img>
        <h5>Commander of CI</h5>
      </td>
      <td>
        <h2>Jake Pringle</h2>
        <img src="../static/jake.jpg" width=100px></img>
        <h5>Dictator of Data</h5>
      </td>
    </tr>
  </table>
</div>


{% endblock %}
